.additional-images{
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
}

.title-slide {
    text-align: center; /* Centra el texto horizontalmente */
    font-family: 'Arial', sans-serif; /* Establece la fuente del texto */
    font-size: 25px; /* Tamaño de la fuente */
    color: #333; /* Color del texto */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    border-bottom: 2px solid #333; /* Añade una línea de 2px de ancho y color #333 debajo del texto */
    padding-bottom: 10px; /* Espaciado opcional para separar la línea del texto */
}

.subtitle{
    text-align: justify;
    margin-left: 10px;
}
  
  