/* Navbar.css */

.navbar-container {
    background-color: #323263; /* Un tono oscuro y más vibrante */
    padding: 20px;
    text-align: center;
   
}

.navigation-bar {
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin-left: 0;
    display: flex;
}

.nav-list li {
    margin-right: 70px;
}

.nav-list li:last-child {
    margin-right: 0;
}

.link {
    text-decoration: none;
    position: relative; /* Añade posición relativa al enlace */
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    transition: color 0.3s ease;
}

.link::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #2264dd;
    transition: width 0.3s ease, left 0.3s ease; /* Efecto de transición para el recuadro */
}

.link:hover::before {
    width: 100%;
    left: 0;
}


.logo-container {
    margin-right: 120px; /* Espaciado entre el logo y la lista de navegación */
    margin-left: 0px;
  }
  
  .logo {
    width: 60px; /* Ajusta el tamaño del logo según sea necesario */
    height: auto;
  }

  .logo:hover {
    transform: scale(1.2); /* Escala la imagen al hacer hover */
  }
  

  /* Navbar.css */

/* ... (otros estilos) */

.search-container {
    display: flex;
    align-items: center;
    margin-left: 65px; /* Mueve el contenedor de búsqueda al extremo derecho */
  }
  
  .search-container input {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px; /* Puedes ajustar el ancho según tus necesidades */
  }
  
  .search-container button {
    padding: 8px 12px;
    background-color: #007bff; /* Color de fondo del botón */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .search-container button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al hacer hover */
  }
  